<div class="d-flex justify-content-center">
  <div class="container-resa" data-controller="bookings">
    <% if current_user.cats.present? %>
    <%# bookings recap for the user (owner) %>
      <div class="dashboard-cards">
        <h2>Demandes pour vos chats</h2>
        <% if @owner_cat_reservations.any? %>
          <ul class="list">
            <% @owner_cat_reservations.each do |booking| %>
              <div class="reservation-card">
                <div class="d-flex justify-content-between">
                  <% if booking.user.photo.attached? %>
                    <%= cl_image_tag booking.user.photo.key, class: "resa-avatar" %>
                  <% else %>
                    <div style="width: 10vh"></div>
                  <% end %>
                  <div class="resa-info">
                    <li><span><%= booking.user.username %></span>  va lover <span><%= booking.cat.name %></span></li>
                    <li>Le <span><%= booking.start_date.strftime("%d/%m/%Y") %> </span>pour <%= booking.number_of_half_days.to_f / 2 %> jour(s)</li>
                    <li>Total de la commande : <span> <%= booking.cat.price_per_half_day * booking.number_of_half_days %>€ </span></li>
                  </div>
                  <%= cl_image_tag booking.cat.photos.first.key, class: "dashboard-photo" %>
                </div>
                  <i class="fas fa-plus" id="open-modal" data-id=<%=booking.id%> data-action="click->bookings#show"></i>
              </div>
              <div data-bookings-target="description">
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="dashboard-cards">
        <h2>Vos réservations de chat</h2>
        <% if @user_reservations.any? %>
          <ul class="list">
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <%= cl_image_tag booking.cat.photos.first.key, class: "dashboard-photo" %>
                <div class="resa-info">
                  <%# <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                  <li>Vous allez lover <span><%= booking.cat.name %></span>  (appartient à <%= booking.cat.user.username %>)</li>
                  <li>Le <span><%= booking.start_date.strftime("%d/%m/%Y") %> </span>pour <%= booking.number_of_half_days.to_f / 2 %> jour(s)</li>
                  <li>Total de la commande : <span> <%= booking.cat.price_per_half_day * booking.number_of_half_days %>€ </span></li>
                </div>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="dashboard-cards-cats flex-column">
      <h2>Vos chats</h2>
      <% if @owner_cats %>
        <ul class="list d-flex text-center">
          <% @owner_cats.each do |cat| %>
            <%= link_to cat_path(cat) do %>
              <div class="my-cat-card">
                  <% if cat.photos.attached? %>
                  <%= cl_image_tag cat.photos.first.key, class: "dashboard-photo extra-large" %>
                  <% end %>
                <div class="presentation-cat-card">
                  <div>
                    <p><span><%= cat.name %></span></p>
                  </div>
                  <div class="d-block">
                    <%= link_to edit_cat_path(cat), id: "edit-cats", class: "d-inline" do %>
                      <i class="fas fa-pencil-alt d-inline"></i>
                    <% end %>
                    <%= link_to cat_path(cat), id: "delete-cats", class: "d-inline" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </ul>
        <div class="home-form my-2 add-cat">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% else %>
        <div class="home-form my-2 add-cat">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
