<h2>vos bookings : <%= "#{current_user.username}" %></h2>
<div class="container-dashboard">
    <% if current_user.cats.present? %>
  <%# bookings recap for the user (owner) %>
      <div class="container-cat">
        <h3>Demandes de réservation pour vos chats</h3>
        <% if @owner_cat_reservations.any? %>
          <ul>
            <% @owner_cat_reservations.each do |booking| %>
              <div class="reservation-card">
                <li>Le locataire: <%= booking.user.username %></li>
                <li>Le locataire_description: <%= booking.user.description %></li>
                <li>Le locataire_tel: <%= booking.user.phone_number %></li>
                <li>Le minou : <%= booking.cat.name %></li>
                <li>Date de début :<%= booking.start_date %></li>
                <li>nombre de demi-journées : <%= booking.number_of_half_days %></li>
                --------------
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="container-cat">
        <h3>Vos réservation de chat</h3>
        <% if @user_reservations.any? %>
          <ul>
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <li>Le propiétaire : <%= booking.cat.user.username %></li>
                <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                <li>Le minou : <%= booking.cat.name %></li>
                <li>Date de début :<%= booking.start_date %></li>
                <li>nombre de demi-journées : <%= booking.number_of_half_days %></li>
                --------------
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="container-cat">
        <h3>Vos réservation de chat</h3>
        <% if @user_reservations.any? %>
          <ul>
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <li>Le propiétaire : <%= booking.cat.user.username %></li>
                <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                <li>Le minou : <%= booking.cat.name %></li>
                <li>Date de début :<%= booking.start_date %></li>
                <li>nombre de demi-journées : <%= booking.number_of_half_days %></li>
                --------------
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

  <div class="container-cat">
    <div class= "card-box">
      <h3>Vos chats</h3>
      <% if @owner_cats %>
        <ul>
          <% @owner_cats.each do |cat| %>
            <div class="presentation-cat-card">
              <li>les infos du chat</li>
              <%= link_to edit_cat_path(cat), class:"btn btn-success", id: "edit-cats" do %>
                Edit-fontawsone
              <% end %>
              <%= link_to cat_path(cat), class:"btn btn-outline-success", id: "delete-cats" do %>
                delete
              <% end %>
              --------------
            </div>
          <% end %>
        </ul>
        <div class="home-form my-2">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success", id: "discover-cats" %>
        </div>
      <% else %>
        <div class="home-form my-2">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success", id: "discover-cats" %>
        </div>
      <% end %>
    </div>
  </div>
</div>