<div class="d-flex justify-content-center">
  <div class="container-resa" data-controller="bookings">
    <% if current_user.cats.present? %>
    <%# bookings recap for the user (owner) %>
      <div class="dashboard-cards">
        <h2>Demandes pour vos Cats</h2>
        <% if @owner_cat_reservations.any? %>
          <ul class="list">
            <% @owner_cat_reservations.each do |booking| %>
              <div class="reservation-card">
                <div class="d-flex justify-content-between">
                  <% if booking.user.photo.attached? %>
                    <%= cl_image_tag booking.user.photo.key, class: "resa-avatar" %>
                  <% else %>
                    <div style="width: 10vh"></div>
                  <% end %>
                  <div class="resa-info">
                    <li><span>Le Cat-Lover</span></li>
                    <li><%= booking.user.username %></li>
                    <li><span>Votre Cat</span></li>
                    <li><%= booking.cat.name %></li>
                  </div>
                  <%= cl_image_tag booking.cat.photos.first.key, class: "dasboard-photo" %>
                </div>
                  <i class="fas fa-plus" id="open-modal" data-id=<%=booking.id%> data-action="click->bookings#show"></i>
              </div>
              <div data-bookings-target="description">
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="dashboard-cards">
        <h2>Vos réservations de Cat</h2>
        <% if @user_reservations.any? %>
          <ul class="list">
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <div class="resa-info">
                  <%# <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                  <li><span>Le Cat que vous allez lover</span></li>
                  <li> <%= booking.cat.name %></li>
                  <li><span>Appartient à</span></li>
                  <li><%= booking.cat.user.username %></li>
                  <li><span>Du / Au</span></li>
                  <li>A COMPLETER !!</li>
                  <li><span>Total</span></li>
                  <li>A COMPLETER € !!</li>
                </div>
                <div>
                  <%= cl_image_tag booking.cat.photos.first.key, class: "dasboard-photo" %>
                </div>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="dashboard-cards">
        <h2>Vos réservation de chat</h2>
        <% if @user_reservations.any? %>
          <ul class="list">
            <% @user_reservations.each do |booking| %>
                <div class="resa-info">
                  <%# <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                  <li><span>Le Cat que vous allez lover</span></li>
                  <li> <%= booking.cat.name %></li>
                  <li><span>Appartient à</span></li>
                  <li><%= booking.cat.user.username %></li>
                  <li><span>Du / Au</span></li>
                  <li>A COMPLETER !!</li>
                  <li><span>Total</span></li>
                  <li>A COMPLETER € !!</li>
                </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="dashboard-cards">
      <h2>Vos Cats</h2>
      <% if @owner_cats %>
        <ul class="list">
          <% @owner_cats.each do |cat| %>
            <div class="reservation-card">
              <div class="presentation-cat-card">
                <% if cat.photos.attached? %>
                <%= cl_image_tag cat.photos.first.key, class: "dasboard-photo large" %>
                <% end %>
                <li><span><%= cat.name %></span></li>
              </div>

              <%= link_to edit_cat_path(cat), class:"btn btn-success", id: "edit-cats" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to cat_path(cat), class:"btn btn-outline-success", id: "delete-cats" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
        </ul>
        <div class="home-form my-2 add-cat">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% else %>
        <div class="home-form my-2 add-cat">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
