<h2>vos bookings : <%= "#{current_user.username}" %></h2>
<div class="d-flex justify-content-center">
  <div class="container-resa" data-controller="reservations">
    <% if current_user.cats.present? %>
    <%# bookings recap for the user (owner) %>
      <div class="dashboard-cards">
        <h2>Demandes pour vos cats</h2>
        <% if @owner_cat_reservations.any? %>
          <ul class="list">
            <% @owner_cat_reservations.each do |booking| %>
              <div class="reservation-card">
                <div class="d-flex justify-content-between">
                  <% if booking.user.photo.attached? %>
                    <%= cl_image_tag booking.user.photo, class: "resa-avatar" %>
                  <% else %>
                    <div style="width: 10vh"></div>
                  <% end %>
                  <div class="resa-info">
                    <li><span>Le Cat-Lover</span></li>
                    <li><%= booking.user.username %></li>
                    <li><span>Votre boule de poil</span></li>
                    <li><%= booking.cat.name %></li>
                  </div>
                  <%= cl_image_tag booking.cat.photos.first.key, class: "dasboard-photo" %>
                </div>
                <button type="button" class="btn btn-primary" id="open-modal" data-id=<%=booking.id%> data-reservations-target="button" data-action="click->reservations#show">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="details-booking" data-reservations-target="description">
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="dashboard-cards">
        <h2>Vos réservation de chat</h2>
        <% if @user_reservations.any? %>
          <ul class="list">
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <div>
                  <li>Le propiétaire : <%= booking.cat.user.username %></li>
                  <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                  <li>Le minou : <%= booking.cat.name %></li>
                  <li>Date de début :<%= booking.start_date %></li>
                  <li>nombre de demi-journées : <%= booking.number_of_half_days %></li>
                </div>
                <%= cl_image_tag booking.cat.photos.first.key, class: "dasboard-photo" %>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="dashboard-cards">
        <h2>Vos réservation de chat</h2>
        <% if @user_reservations.any? %>
          <ul class="list">
            <% @user_reservations.each do |booking| %>
              <div class="reservation-card">
                <li>Le propiétaire : <%= booking.cat.user.username %></li>
                <li>Le propiétaire_tel: <%= booking.cat.user.phone_number %></li>
                <li>Le minou : <%= booking.cat.name %></li>
                <li>Date de début :<%= booking.start_date %></li>
                <li>nombre de demi-journées : <%= booking.number_of_half_days %></li>
                --------------
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="dashboard-cards">
      <h2>Vos chats</h2>
      <% if @owner_cats %>
        <ul class="list">
          <% @owner_cats.each do |cat| %>
            <div class="presentation-cat-card">
              <li>les infos du chat</li>
              <%= link_to edit_cat_path(cat), class:"btn btn-success", id: "edit-cats" do %>
                Edit-fontawsone
              <% end %>
              <%= link_to cat_path(cat), class:"btn btn-outline-success", id: "delete-cats" do %>
                delete
              <% end %>
            </div>
          <% end %>
        </ul>
        <div class="home-form my-2">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% else %>
        <div class="home-form my-2">
          <%= link_to "Ajouter un chat !", new_cat_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
