<!-- card ===================================== -->
      <div class="card-cat" data-city="<%= cat.city %>">
        <%= cl_image_tag cat.photos.first.key %>
        <div class="card-cat-infos">
          <div class="card-content">
            <h2><%= cat.name  %></h2>
            <div class="cat-description">
              <p><%= cat.description %></p>
            </div>
            <div class="cat-info d-flex align-items-baseline">
              <div>
                <%= cat.city %>
              </div>
              <div class="paw">
                <i class="fas fa-paw"></i>
                <i class="fas fa-paw"></i>
                <i class="fas fa-paw"></i>
                <i class="fas fa-paw"></i>
                <i class="fas fa-paw"></i>
              </div>
            </div>
            </div>
          <div class="pricing"><%= cat.price_per_half_day %>€ &nbsp; <span class="half-day"> / demi journée </span></div>
        </div>
      </div>
 <!-- ==============================  -->
