<div class="mt-2">
  <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
    <%= f.input :name, required: false, label: false, input_html: {value: "", placeholder: "Cherchez des chats près de chez vous. Essayez 'Brest' par exemple...",  id: 'search-bar' } %>
  <% end %>
</div>
<div class="index-container d-flex mx-6">
  <div class="container col-8 container-cats">
    <%@cats.each do |cat| %>
      <%= link_to cat_path(cat), class: "card-link-show" do %>
        <%= render "components/cats_card", cat: cat %>
      <% end %>
    <% end %>

  </div>
  <div class="map-container col-4">
    <div id="map"
     style="width: 100%; height: 85vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="pk.eyJ1IjoiYmVlY2hhcmx5IiwiYSI6ImNra2k4cThtaTA3czYyb3FzaWMzdnk0d3oifQ.d48x7HRAZ1FFZFSaIJpaoA">
    </div>
  </div>
</div>
