<div class="cat-show bg-white my-3 p-4 rounded shadow">
  <div class="row go-back mb-2">
    <i class="fas fa-long-arrow-alt-left align-self-center text-primary mr-2"></i><%= link_to "Retourner aux résultats", request.referer.present? ? request.referer : root_path %>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="cat-photos">
        <%= cl_image_tag @cat.photos.first.key , class: "main-photo" %>
        <% if @cat.photos.count > 1 %>
          <%= cl_image_tag @cat.photos[1].key , class: "second-photo" %>
        <% end %>
      </div>
      <div class="row mb-2">
        <div class="col-8">
          <h3><strong><%= "#{@cat.name} " %></strong><%= "(#{@cat.tag})" %></h3>
        </div>
        <div class="col-4">
          <div class="paw">
            <i class="fas fa-paw"></i>
            <i class="fas fa-paw"></i>
            <i class="fas fa-paw"></i>
            <i class="fas fa-paw"></i>
            <i class="fas fa-paw"></i>
          </div>
        </div>
      </div>
      <div class="cat-info">
        <div class="row">
          <div class="col">
           <ul>
             <li><strong>Sexe : </strong><%= @cat.gender %></li>
             <li><strong>Age : </strong><%= "#{@cat.age} an(s)" %></li>
             <li><strong>Pelage : </strong><%= "#{@cat.color}, poil #{@cat.hair_length}"%></li>
           </ul>
          </div>
          <div class="col">
           <ul>
             <li><strong>Castré : </strong><%= @cat.neutered == true ? "oui" : "non" %></li>
             <li><strong>Régime : </strong><%= @cat.diet %></li>
             <li><strong>Race : </strong><%= @cat.breed %></li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="owner-info">
        <p class="mb-0"><i class="fas fa-user"></i> Ce chat appartient à <%= @cat.user.first_name %></p>
        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> Vous pourrez le récupérer à <%= @cat.city %></p>
        <p class="mb-0" id="price" data-price-per-half-day="<%= @cat.price_per_half_day %>" ><i class="fas fa-euro-sign"></i> <%= @cat.price_per_half_day %> / demi-journée</p>
      </div>
      <div class="booking mt-2">
        <% if policy(@cat).edit?  %>
          <div id="reviews-in-show">
            <p id="title-reviews-in-show">Ce que les cat lovers pensent de <%= @cat.name %> :</p>
            <p>Personne n'a encore donné d'avis sur votre chat</p>
          </div>
          <div id="btn-edit">
            <div class="d-flex justify-content-around">
              <p><i class="fas fa-pen"></i><%= link_to "Modifier la fiche", edit_cat_path(@cat) %></p>
              <p><i class="far fa-trash-alt"></i><%= link_to "Supprimer le chat", cat_path(@cat), method: :delete %></p>
            </div>
          </div>
        <% else %>
          <%= render "components/booking", booking: @booking %>
        <% end %>
      </div>
    </div>
  </div>
</div>
