<!DOCTYPE html>
<html>
  <head>
    <title>ChatVaMiaou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>

<div class="index-container d-flex">
  <div class="container col-8 mx-2">
    <div class="row">
    <%= render "components/cats_card" %>
    <%= render "components/cats_card" %>
    </div>
  </div>
  <div class="map-container col-4"></div>
</div>
  </body>
</html>
